{% extends "layout.html" %}

{% block body %}

    <h1>Register</h1>
    <form action="/register" method="POST">
        <input autocomplete="off" autofocus name="name" placeholder="Name" required type="text">
            <!-- Jinja placeholder: permet de générer une liste de boutons de la liste Python in app -->
            {% for sport in sports %}
                <label><input name="sport" type="radio" value="{{ sport }}"> {{ sport }} </label>
            {% endfor %}

        </select>
        <button type="submit">Register</button>
    </form>

{% endblock %}