<!-- Using JinJa to create the index page -->

{% extends "layout.html" %}

{% block body %}

    <h1>Book store</h1>
    {%  for book in books %}

        <h2>{{ book[1] }}</h2>
        <form action="/cart" method="post">
            <input type="hidden" name="id" value="{{ book[0] }}">
            <button type="submit">Add to Cart</button>
        </form>

    {% endfor %}

        <form action="/cart" method="get">
            <button type="submit">Go to Cart</button>
        </form>
{% endblock %}
